<div class="spacer"></div>
<footer id="cuhackitfooter">
  <div class="foot">
    <div class="social">
        <img src="https://raw.githubusercontent.com/CUHackers/cuhackit-common/master/web/footer/icons/facebook.svg?sanitize=true"
          class="icon">
        <img src="https://raw.githubusercontent.com/CUHackers/cuhackit-common/master/web/footer/icons/instagram.svg?sanitize=true"
          class="icon">
        <img src="https://raw.githubusercontent.com/CUHackers/cuhackit-common/master/web/footer/icons/twitter.svg?sanitize=true"
          class="icon-last">
    </div>
    <div class="links">
      <div class="link">
        <p>E-mail Us</p>
      </div>
      <div class="link-last">
        <p>Code of Conduct</p>
      </div>
    </div>
  </div>
</footer>
