<div class="spacer"></div>
<footer id="cuhackitfooter">
  <div class="foot">
    <div class="social">
      <a href="https://www.facebook.com/CUhackers">
        <img src="https://raw.githubusercontent.com/CUHackers/cuhackit-common/master/web/footer/icons/facebook.svg?sanitize=true"
          class="icon">
      </a>
      <a href="https://www.instagram.com/cuhackit">
        <img src="https://raw.githubusercontent.com/CUHackers/cuhackit-common/master/web/footer/icons/instagram.svg?sanitize=true"
          class="icon">
      </a>
      <a href="https://twitter.com/cuhackit">
        <img src="https://raw.githubusercontent.com/CUHackers/cuhackit-common/master/web/footer/icons/twitter.svg?sanitize=true"
          class="icon-last">
      </a>
    </div>
    <div class="links">
      <div class="link">
        <a href="mailto:cuhackit@gmail.com">E-mail Us</a>
      </div>
      <div class="link">
        <a href="http://mlh.io/code-of-conduct">Code of Conduct</a>
      </div>
    </div>
  </div>
</footer>
